@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);
    font-family: 'Roboto Mono', sans-serif;
}

header {
    text-align: center;
    margin: 40px 0;
}

header h1 {
    font-size: 50px;
}

#btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn,
#reset-btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 4px rgba(0,0,0, 0.2);
}

.btn:focus,
#reset-btn:focus {
    transform: scale(.97);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container p {
    margin-bottom: 30px;
    font-size: 20px;
}

#btn-wrapper {
    margin-bottom: 30px;
}

#results {
    font-size: 30px;
    margin-bottom: 30px;
}

